body {
    margin: 0;
    padding: 40px;
    background-image:linear-gradient(to right,#45c0ce, #45c0ce)  ;
  }
  
  .submit {
    background: #333;
    height: 180px;
    position: relative;
    margin: 0 auto;
    width: 300px;
  }
  
  .submit:before {
    background: #45c0ce;
    border-radius: 50%;
    box-shadow: 
      300px 0 0 0 #45c0ce, 
      0 180px 0 0 #45c0ce, 
      300px 180px 0 0 #45c0ce,
      0 40px 0 -20px #45c0ce,
      0 60px 0 -20px #45c0ce,
      0 80px 0 -20px #45c0ce,
      0 100px 0 -20px #45c0ce,
      0 120px 0 -20px #45c0ce,
      0 140px 0 -20px #45c0ce,
      300px 40px 0 -20px #45c0ce,
      300px 60px 0 -20px #45c0ce,
      300px 80px 0 -20px #45c0ce,
      300px 100px 0 -20px #45c0ce,
      300px 120px 0 -20px #45c0ce,
      300px 140px 0 -20px #45c0ce;
    content: "";
    display: block;
    height: 50px;
    left: -25px;
    position: absolute;
    top: -25px;
    width: 50px;
  }
  
  span {
    border-radius: 20px;
    border: 3px solid #aaa;
    color: #fff;
    display: inline-block;
    font-size: 90px;
    left: 0;
    left: 50%;
    line-height: 1.5;
    padding: 0 40px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  
  span:before,
  span:after {
    background: #333;
    color: #aaa;
    display: inline-block;
    font-size: 16px;
    left: 50%;
    padding: 0 10px;
    position: absolute;
  }
  
  span:before {
    content: "Ticket";
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    top: 0;
  }
  
  span:after {
    bottom: 0;
    -webkit-transform: translateX(-50%) translateY(50%);
    -moz-transform: translateX(-50%) translateY(50%);
    transform: translateX(-50%) translateY(50%);
  }


  /* get ticketpage */
  h3 {
    text-align: center;
}

.input {
    margin: 6px;
    padding: 10px;
    display: block;
    margin: auto;
    font-size: 30px;
}

input, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#heading {
    text-align: center;
    color: #fff;
    font-weight: bold;
}

#head {
    border-bottom: 2px solid #fff;
}

.button {
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

/* logo aventus */

.logo{
    width: 50%;
}